@charset "UTF-8";



@media (min-width: 768px) {
    
    body {
        background-image: linear-gradient(to top, rgb(1, 9, 37), rgb(36, 48, 88));
    }

    section#login {
        width: 80vw;
        height: 500px;
    }

    section#login > div#img {
        float: left;
        width: 30%;
        height: 500px;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        padding-left: 20px;
    }

    section#login > div#formulario > h1 {
        font-size: 2em
    }

    section#login > div#formulario > p {
        font-size: 1.2em
    }
}